h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducci贸n', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Historia de la rob贸tica ', 'main.html#page/tema-1/')
                    +navTemaItem('2', 'Componentes de un robot y tipos', 'main.html#page/tema-2/')
                    +navTemaItem('3', 'Disciplinas Asociadas a la Rob贸tica', 'main.html#page/tema-3/')
                    +navTemaItem('4', 'Automatizaci贸n en la Agroindustria', 'main.html#page/tema-4/')