h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Reconocer las situaciones de la población privada de la libertad de acuerdo con los principales componentes del sistema penitenciario y carcelario.
            li
                span Valorar la apropiación de la información obtenida del sistema penitenciario y carcelario de acuerdo con la normatividad vigente.




