include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Fiduprevisora. Contrato de Fiducia Mercantil No. 145 de 2019", "https://www.fiduprevisora.com.co/wp-content/uploads/2020/03/Anexo-No-7-CONCERTACI%C3%93N-MODALIDAD-DE-C%C3%81PITA.pdf")

        +referenciaItem("Decreto 1142 de 2016. Capítulo 11 del Título 1 de la Parte 2 del Libro 2 del Decreto 1069 de 2015, Decreto Único Reglamentario del Sector Justicia y del Derecho, y se adoptan otras disposiciones", "https://www.fiduprevisora.com.co/wp-content/uploads/2020/03/Anexo-No-7-CONCERTACI%C3%93N-MODALIDAD-DE-C%C3%81PITA.pdf")

        +referenciaItem("Decreto 2245 de 2015. Adición capítulo al decreto 1069 de 2015, Único reglamentario del sector Justicia y del derecho en lo relacionado con la prestación del servicio a las personas privadas de la libertad bajo vigilancia INPEC", "https://www.minjusticia.gov.co/Portals/0/Ministerio/decreto%20unico/%23%20decretos/13.DECRETO%202245%20DEL%2024%20DE%20NOVIEMBRE%20DE%202015.pdf", "https://www.minjusticia.gov.co/Portals/0/Ministerio/decreto%20unico/%23%20decretos/13. DECRETO%202245%20DEL%2024%20DE%20NOVIEMBRE%20DE%202015.pdf")

        +referenciaItem("Consejo Nacional De Política Económica Y Social República De Colombia Departamento Nacional De Planeación. Documento CONPES 3828 del 19 de Mayo de 2015. Política penitenciaria y carcelaria Colombia", "http://www.politicacriminal.gov.co/Portals/0/documento/CONPES%20Pol%C3%ADtica%20penitenciaria%20y%20carcelaria%202015.pdf", "http://www.politicacriminal.gov.co/Portals/0/documento/CONPES%20Pol%C3%ADtica% 20penitenciaria%20y%20carcelaria%202015.pdf")

        +referenciaItem("Fernández, R. (2005). Introducción al Sistema Penitenciario Español", "https://docplayer.es/7900389-Introduccion-al-sistema-penitenciario-espanol-1-autor-rafael-fernandez-cubero.html")

        +referenciaItem("Ley 1709 de 2014. Se reforman algunos artículos de la Ley 65 de 1993, de la Ley 599 de 2000, de la Ley 55 de 1985 y se dictan otras disposiciones", "http://www.suin-juriscol.gov.co/viewDocument.asp?ruta=Leyes/1686959")

        +referenciaItem("USPEC. Manual técnico para la prestación del servicio de salud a la población privada de la libertad INPEC (2016)", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/INEC/IGUB/uspec-manual-tecnico-administrativo-servicio-salud.pdf")

        +referenciaItem("Resolución 5159 de 2015. “Por medio de la cual se adopta el Modelo de Atención en Salud para la población privada de la libertad bajo la custodia y vigilancia del Instituto Nacional Penitenciario y Carcelario – INPEC”. Bogotá, D.C., Ministerio de Salud y Protección Social. 30 de noviembre de 2015. ", "")

        +referenciaItem("Sentencia T-035 de 2013. “Acción de tutela interpuesta por Germán Augusto Gómez Valdez contra el Juzgado Tercero de Ejecución de Penas y Medidas de Seguridad de Popayán y otros”. Bogotá, D.C., Magistrado Ponente: Jorge Iván Palacio Palacio. 28 de enero de 2013.", "")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            