.container#page-tema-4

    .header#tema-4.-recuadro.mt-5.mb-0
        h1 #[span.number.px-2.py-2 4.0] #[span.title.px-2.py-2 Automatización en la Agroindustria]

    .jumbotron.bg-white 
      .row

    