.container#page-tema-2

    .header#tema-2.-recuadro.mt-0.mb-0
        h1 #[span.number.px-2.py-2 2.0] Componentes de un robot y tipos

    .jumbotron.bg-white 
        .header#tema-1_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 2.1] Tipos de sistemas productivo agrícola